<h1>Listing beer_bars</h1>


  <% @beer_bars.each do |beer_bar| %>
    <%= link_to beer_bar.name, beer_bar %>
    <%= beer_bar.city %>
    <%= beer_bar.state %>
    <%= beer_bar.website %>
    <!-- <%= link_to 'Show', beer_bar %>
    <%= link_to 'Edit', edit_beer_bar_path(beer_bar) %>
    <%= link_to 'Destroy', beer_bar, method: :delete, data: { confirm: 'Are you sure?' } %> -->
  <% end %>

<br>

<%= link_to 'New Beer bar', new_beer_bar_path %>
