<p id="notice"><%= notice %></p>

<p>
  <%= @beer_bar.name %>
</p>

<p>
  <%= @beer_bar.address %>
</p>

<p>
  <%= @beer_bar.city %>
</p>

<p>
  <%= @beer_bar.state %>
</p>

<p>
  <%= @beer_bar.zipcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beer_bar.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @beer_bar.website %>
</p>

<%= link_to 'Edit', edit_beer_bar_path(@beer_bar) %> |
<%= link_to 'Back', beer_bars_path %>
