<p id="notice"><%= notice %></p>

<p>
  <strong>Bb:</strong>
  <%= @beer_bar.bb_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer_bar.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @beer_bar.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @beer_bar.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @beer_bar.zipcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beer_bar.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @beer_bar.website %>
</p>

<p>
  <strong>Datecreated:</strong>
  <%= @beer_bar.datecreated %>
</p>

<%= link_to 'Edit', edit_beer_bar_path(@beer_bar) %> |
<%= link_to 'Back', beer_bars_path %>
